<li>
    <a href={{link}} target="_blank"><h2>{{title}}</h2></a>
	<p>{{summary}}</p>
	<button class="btn btn-sm btn-primary note-it" data-id="{{id}}">Note It!</button>
	<button class="btn btn-sm btn-primary delete-saved-article" data-id="{{this.id}}">Delete!</button>

</li>

<!-- Modal dialog to add or update users -->
<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
		<div class="modal-content" style="background-color: #ff794d;">
			<div class="modal-header">
				<label class="col-sm-3 col-form-label col-form-label-lg" style="color: black;" for="adding-user">Add
					Note</label>
				<button type="button" class="close" data-dismiss="modal" style="color: black;" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="modalText">

				<!-- User Update -->
				<form role="form">

					<div class="form-group row">
						<label class="col-sm-3 col-form-label col-form-label-sm" style="color: black;"
							for="db-notes">Notes</label>
						<div class="col-sm-9">
							<textarea rows="4" cols="50" name="db-notes"  class="form-control form-control-sm" style="color: black;"
								id="db-notes"></textarea>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 col-form-label col-form-label-sm" style="color: black;"
							for="new-note">New Note</label>
						<div class="col-sm-9">
							<input type="text" class="form-control form-control-sm" style="color: black;"
								id="new-note">
						</div>
					</div>
					<button type="submit" class="btn btn-outline-dark" id="noteBtn"
						style="color: black;">Submit</button>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-dark" style="color: black;"
					data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>